{% extends "base.html" %}
{% block content %}
    <div class="col-lg-12 text-center v-center float-none white mx-auto">
        <h1 class="h1-responsive font-weight-bold text-center my-5">
            <a href="/">Проверка артикула Cisco</a>
        </h1>
        <p class="text-center w-responsive mx-auto mb-7">
            Корректен ли артикул и каков его статус?<br />
            К какой крипто и радиокатегории относится артикул?
        </p>
        <br>
      
        <center>
        <form action="" method="GET" style="width: 50%">

            <div class="md-form form-lg">
                {{ form.pids(class="form-control form-control-lg text-center") }}
                <label for="pids">Укажите артикулы разделяя пробелами</label>
            </div>

            <button class="btn btn-cyan" type="submit" formaction="search_eox">
                    Проверить актуальность
            </button>
            <button class="btn btn-cyan" type="submit" formaction="search_cc">
                    Проверить категорию
            </button>

        </form>
        {% if form.pids.errors %}
            <div class="errors">
                {% for error in form.pids.errors %}
                    <span class="badge badge-warning">
                        {{ error }}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
        </center>

        <br><h3><span class="badge grey">Пример: ISR4451-X/K9 CISCO2801 GE-T=</span></h3>
    </div>
{% endblock %}