{% extends "base.html" %}
{% block content %}
    <script language="javascript">
        function toggleDisplay(e){
        element = document.getElementById(e).style;
         if (element.display=='none') {element.display='block';}
         else {element.display='none';}
        }
    </script>

    <a href="/" class="btn btn-blue-grey">Вернуться на главную страницу</a>
    {% if version %}<center><h3><span class="badge pink">Версия таблицы категорий: {{ version }}</span></h3></center>{% endif %}
    <a href="javascript:toggleDisplay('categories')">
        <b><h3><span class="badge blue">Категории</span></h3></b>
    </a>
    <table class="table table-bordered table-striped w-auto" id="categories" style="display:none;">
        <thead class="blue-grey lighten-4">
            <tr>
                <th class="th-sm">Код категории<br></th>
                <th>Описание<br></th>
            </tr>
        </thead>
        <tbody>
            <tr><td><b>С1</b></td><td>продукты, не требующие разрешения на ввоз</td></tr>
            <tr><td><b>С2</b></td><td>продукты, разрешенные ко ввозу без лицензии</td></tr>
            <tr><td><b>С3</b></td><td>продукты, подлежащие импорту с получением лицензии</td></tr>
            <tr><td><b>С4</b></td><td>продукты, не распределенные ни по одной из предыдущих категорий</td></tr>
            <tr><td><b>СL</b></td><td>продукты, относящиеся к локальному производтству</td></tr>
            <tr><td><b>Rn1</b></td><td>устройства, не являющиеся РЭС</td></tr>
            <tr><td><b>Rn2</b></td><td>продукты, относящиеся к локальному производству в РФ </td></tr>
            <tr><td><b>Rn3</b></td><td>РЭС, не требующие получения лицензии на ввоз (при условии декларирования как абонентского оборудования)</td></tr>
            <tr><td><b>Rn4</b></td><td>РЭС, требующие получения лицензии на ввоз. Получена выписка Роскомнадзора из Реестра РЭС/ВЧУ на импортера (для Лицензии МПТ)</td></tr>
            <tr><td><b>Rn5</b></td><td>РЭС, требующие получения лицензии на ввоз и ожидающие прохождения необходимых процедур для включения в Реестр Роскомнадзора РЭС/ВЧУ</td></tr>
            <tr><td><b>Rn6</b></td><td>РЭС, требующие получения лицензии на ввоз в РФ (сопутствующие документы для получения лицензии отсутствуют)</td></tr>
        </tbody>
    </table>
    <hr />


    {% if nf %}
        <b><h3><span class="badge red">Артикулы не найдены:</span></h3></b> {{ nf }}
        <hr />
    {% endif %}

    {% if c1 %}
        <a href="javascript:toggleDisplay('c1')">
            <b><h3><span class="badge green">Криптокатегория С1</span></h3></b>
        </a>
        <table class="table table-bordered table-striped w-auto" id="c1">
            <thead class="blue-grey lighten-4">
                <tr>
                    <th class="th-sm">Артикул<br></th>
                    <th>Криптокатегория<br></th>
                    <th>Радиокатегория<br></th>
                </tr>
            </thead>
            <tbody>
                {% for item in c1 %}
                <tr>
                    <td><b>{{ item['pid'] }}</b></td>
                    <td><b>{{ item['cat_c'] }}</b></td>
                    <td><b>{{ item['cat_r'] }}</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr />
    {% endif %}

    {% if c2 %}
        <a href="javascript:toggleDisplay('c2')">
            <b><h3><span class="badge green">Криптокатегория С2</span></h3></b>
        </a>
        <table class="table table-bordered table-striped w-auto" id="c2">
            <thead class="blue-grey lighten-4">
                <tr>
                    <th class="th-sm">Артикул<br></th>
                    <th>Криптокатегория<br></th>
                    <th>Радиокатегория<br></th>
                </tr>
            </thead>
            <tbody>
                {% for item in c2 %}
                <tr>
                    <td><b>{{ item['pid'] }}</b></td>
                    <td><b>{{ item['cat_c'] }}</b></td>
                    <td><b>{{ item['cat_r'] }}</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr />
    {% endif %}

    {% if c3 %}
        <a href="javascript:toggleDisplay('c3')">
            <b><h3><span class="badge red">Криптокатегория С3</span></h3></b>
        </a>
        <table class="table table-bordered table-striped w-auto" id="c3">
            <thead class="blue-grey lighten-4">
                <tr>
                    <th class="th-sm">Артикул<br></th>
                    <th>Криптокатегория<br></th>
                    <th>Радиокатегория<br></th>
                </tr>
            </thead>
            <tbody>
                {% for item in c3 %}
                <tr>
                    <td><b>{{ item['pid'] }}</b></td>
                    <td><b>{{ item['cat_c'] }}</b></td>
                    <td><b>{{ item['cat_r'] }}</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr />
    {% endif %}

    {% if cX %}
        <a href="javascript:toggleDisplay('cX')">
            <b><h3><span class="badge grey">Криптокатегория С4/CL</span></h3></b>
        </a>
        <table class="table table-bordered table-striped w-auto" id="cX">
            <thead class="blue-grey lighten-4">
                <tr>
                    <th class="th-sm">Артикул<br></th>
                    <th>Криптокатегория<br></th>
                    <th>Радиокатегория<br></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cX %}
                <tr>
                    <td><b>{{ item['pid'] }}</b></td>
                    <td><b>{{ item['cat_c'] }}</b></td>
                    <td><b>{{ item['cat_r'] }}</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr />
    {% endif %}  
{% endblock %}