{% extends "base.html" %}
{% block content %}
    <a href="/" class="btn btn-blue-grey">Вернуться на главную страницу</a>
    <form action="export_eox" method="post">
        <input type="hidden" name="api_responses" value="{{ api_responses }}" />
        {% if active_pids %}
        <input type="hidden" name="active_pids" value="{{ active_pids }}" />
        {% endif %}
        <input type="submit" name="submit" value="Экспортировать в Excel" class="btn btn-blue">
     </form>
     {{ full_api_response }}
    {% if obsolete_pids %}
        <b><h3><span class="badge red">Артикулы устаревшие (дата EoL достигнута):</span></h3></b>
        <table class="table table-bordered table-striped">
            <thead class="blue-grey lighten-4">
                <tr>
                    <th class="th-sm">Наименование<br></th>
                    <th>Описание<br></th>
                    <th>Дата EoSale</th>
                    <th>Бюллетень<br></th>
                    <th>Дата анонса</th>
                    <th>Дата EoSupport</th>
                    <th>Дата EoSvcRenew<br></th>
                    <th>Замена</th>
                    <th>Описание замены</th>
                    <th>Информация о замене<br></th>
                </tr>
            </thead>
            <tbody>
                {% for item in obsolete_pids %}
                <tr>
                    <td><b>{{ item['Name'] }}</b></td>
                    <td>{{ item["Description"] }}</td>
                    <td>{{ item["EoSale"] }}</td>
                    <td>
                    {% if item["BulletinURL"] != " " %}
                        <a href="{{ item["BulletinURL"] }}"
                        class="btn btn-primary btn-rounded btn-sm my-0"
                        target="external">
                            Ссылка
                        </a>
                    {% else %}
                        Нет
                    {% endif %}
                    </td>
                    <td>{{ item["BulletinDate"] }} </tdh>
                    <td>{{ item["EoSupport"] }}</tdh>
                    <td>{{ item["EoSvcRenew"] }}</td>
                    <td>{{ item["ReplacementPID"] }}</td>
                    <td>{{ item["PIDDescription"] }}</td>
                    <td>
                    {% if item["PIDInfoURL"] != " " %}
                        <a href="{{ item["PIDInfoURL"] }}"
                        class="btn btn-primary btn-rounded btn-sm my-0"
                        target="external">
                            Ссылка
                        </a>
                    {% else %}
                        Нет
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <hr />
    {% endif %}

    {% if eox_pids %}
        <b><h3><span class="badge orange">Артикулы устаревающие (дата EoL не достигнута):</span></h3></b>
        <table class="table table-bordered table-striped">
            <thead class="blue-grey lighten-4">
                <tr>
                    <th class="th-sm">Наименование<br></th>
                    <th>Описание<br></th>
                    <th>Дата EoSale</th>
                    <th>Бюллетень<br></th>
                    <th>Дата анонса</th>
                    <th>Дата EoSupport</th>
                    <th>Дата EoSvcRenew<br></th>
                    <th>Замена</th>
                    <th>Описание замены</th>
                    <th>Информация о замене<br></th>
                </tr>
            </thead>
            <tbody>
                {% for item in eox_pids %}
                <tr>
                    <td><b>{{ item['Name'] }}</b></td>
                    <td>{{ item["Description"] }}</td>
                    <td>{{ item["EoSale"] }}</td>
                    <td>
                    {% if item["BulletinURL"] != " " %}
                        <a href="{{ item["BulletinURL"] }}"
                        class="btn btn-primary btn-rounded btn-sm my-0"
                        target="external">
                            Ссылка
                        </a>
                    {% else %}
                        Нет
                    {% endif %}
                    </td>
                    <td>{{ item["BulletinDate"] }} </tdh>
                    <td>{{ item["EoSupport"] }}</tdh>
                    <td>{{ item["EoSvcRenew"] }}</td>
                    <td>{{ item["ReplacementPID"] }}</td>
                    <td>{{ item["PIDDescription"] }}</td>
                    <td>
                    {% if item["PIDInfoURL"] != " " %}
                        <a href="{{ item["PIDInfoURL"] }}"
                        class="btn btn-primary btn-rounded btn-sm my-0"
                        target="external">
                            Ссылка
                        </a>
                    {% else %}
                        Нет
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <hr />
    {% endif %}
        
    {% if active_pids %}
        <b><h3><span class="badge green">Артикулы актуальные:</span></h3></b> {{ active_pids }}
        <hr />
    {% endif %}
    
    {% if wrong_pids %}
        <b><h3><span class="badge grey">Артикулы не найдены в базе Cisco:</span></h3></b> {{ wrong_pids }}
        <hr />
    {% endif %}

{% endblock %}