{% extends "base.html" %}
{% block content %}
    <a href="/" class="btn btn-blue-grey">Вернуться на главную страницу</a><br><br>
    <div class="col-lg-12 text-center v-center float-none white mx-auto">
        <h1 class="h1-responsive font-weight-bold text-center my-5">
            <a href="{{ url_for('_update_cc._update_cc') }}">Обновить версию таблицы</a>
        </h1>
        <br>
      
        <center>
        {% if method == 'get' %}
        <form action="{{ url_for('_update_cc._update_cc') }}" method="POST" style="width: 50%" enctype="multipart/form-data">

            <div class="md-form form-lg" >
                {{ form.ccfile(class="form-control form-control-lg text-center") }}
            </div>
            
            {% if form.ccfile.errors %}
            <div class="errors">
                {% for error in form.ccfile.errors %}
                    <span class="badge badge-warning">
                        {{ error }}
                    </span>
                {% endfor %}
            </div>
            {% endif %}

            <button class="btn btn-cyan" type="submit">
                    Обновить
            </button>
            {% if version %}
                <br /><b><h4><span class="badge green">Версия таблицы: {{ version }}</span></h4></b>
            {% endif %}

        </form>
        {% endif %}
        {% if method == 'post' %}
            {% if version %}
            {% endif %}
            {% if result %}
                <br /><b><h4><span class="badge green">Добавлено записей: {{ result['count'] }}</span></h4></b>
                <br /><b><h4><span class="badge green">Обновлено с {{ result['old_version'] }} до {{ result['new_version'] }}</span></h4></b>
            {% else %}
                <br /><b><h4><span class="badge warning">Что-то пошло не так</span></h4></b>
            {% endif %}
        {% endif %}
        </center>
    </div>
{% endblock %}